outside
elm-stuff/
node_modules/
.vscode
.DS_Store

# Intellij
.idea
*.iml

# F#
*.sln.DotSettings.user
.fake
.ionide
src/**/bin/
obj/

#aws
.aws-sam/

# Solution

dump/

# eventstore

certs/
.env

# rambler
**/rambler
**/rambler_v*

# test
activity.txt
tokens.txt